<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" href="/css/favicon.ico" />
</head>

<body>

    <div class="content">
        <h3> Список пользователей</h3>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Пол</th>
                <th>Группа</th>
            </tr>
            <% rows.forEach(user => { %>
                <tr>
                    <td>
                        <a href="/postUser/<%= user.idUser %>"><%= user.idUser %></a>
                    </td>
                    <td><%= user.lastName %></td>
                    <td><%= user.firstName %></td>
                    <td><%= user.gender == 1 ? 'м' : 'ж' %></td>
                    <td>
                        <%= user.idGroup %>
                    </td>
                </tr>
            <% }) %>
        </table>
        <a href="/postUser" class="btn-add">Добавить</a>
    </div>
</body>
</html>